<div class="flex-container animated bounceInLeft">
    <div class="active z-depth-1-half" (click)="myStock()">
            <div class="card">
            <!--Card image-->
            <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <!--Social shares button-->
                <a class="activator"><i class="fa fa-share-alt white-text"></i></a>
                <!--Title-->
                <h4 class="card-title">Click Here</h4>
                <hr>
                <!--Text-->
                <p class="card-text white-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="d-flex flex-row-reverse">
                    <h5 class="waves-effect p-2" mdbRippleRadius>Read more <i class="fa fa-chevron-right"></i></h5>
                </a>
            </div>
            <!--/.Card content-->
        </div>
    </div>
    <div class="z-depth-1-half">
      <!-- Card -->
        <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong" style="height:100%;">
                <div>
                    <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Facturation</h5>
                    <h3 class="card-title"><strong>This is card title</strong></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                        Odit sed qui, dolorum!.</p>
                    <a class="btn btn-pink waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a>
                </div>
            </div>
            <!-- Content -->
        </div>
        <!-- Card -->
    </div>
      <div class="z-depth-1-half">
        <!--Card-->
        <div class="card">

          <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                  <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                  <a>
                      <div class="mask"></div>
                  </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Exemple</h4>
                  <!--Text-->
                  <p class="card-text  white-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              </div>
            </div>
    <div class="z-depth-1-half">
            <div class="card">
            <!--Card image-->
            <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
                <!--Social shares button-->
                <a class="activator"><i class="fa fa-share-alt white-text"></i></a>
                <!--Title-->
                <h4 class="card-title">Stock</h4>
                <hr>
                <!--Text-->
                <p class="card-text white-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="d-flex flex-row-reverse">
                    <h5 class="waves-effect p-2" mdbRippleRadius>Read more <i class="fa fa-chevron-right"></i></h5>
                </a>
            </div>
            <!--/.Card content-->
        </div>
    </div>


</div>
