/* You can add global styles to this file, and also import other style files */
body {
    font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
    color: #2c2d30;
    background: linear-gradient(to right, #a8c9ef, #076fdd, #4bb2de, #66c8d9, #9ae9f1, #076fdd, #8ebff5);
  }
