.flex-container{
  display: flex;
}

.flex-container>div {
  background-color: #e7e4e4;
  width: 300px;
  margin: 2px;
  cursor: pointer;
}
@media only screen and (max-width:300px) {
  .flex-container>div {
    height: auto;
    width: auto;
  }
}
.flex-container>div .card{
  background-color: #aeaeae;
  height: 100%;
  border-radius: 0px;
}
.flex-container>div .card:hover{
  background-color: #5c95bd;
}
.flex-sm-container>div {
  background-color: #e7e4e4;
  margin: 2px;
  cursor: pointer;
}
.flex-sm-container{
  display: flex;
}
